html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #eee5e9;
  scroll-behavior: smooth;
}
.header {
  box-shadow: 0px 0px 20px 0px;
  display: flex;
  align-items: center;
  background-color: #2b303a;
  color: white;
}
h1 {
  margin-left: 60%;
  width: 100%;
}
.body-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 8px;
}
.card {
  position: relative;
  z-index: 300;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
}
img {
  width: 100%;
  max-width: 550px;
  height: 300px;
  box-shadow: 0px 0px 8px 0px;
  border: solid black 1px;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  align-items: center;
}
.card:hover {
  transform: scale(1.1);
  background-color: #92dce5;
  max-width: 550px;
  z-index: 2;
}
li:hover {
  color: #92dce5;
}
.promote-banner {
  border-radius: 30px;
  background-color: #2b303a;
  color: white;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 20px auto;
  align-items: center;
  justify-content: center;
  width: 30%;
  max-width: 550px;
  text-align: center;
}

.link-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.FooterComponent {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2b303a;
  color: white;
}
li {
  cursor: pointer;
}
.cart-container {
  position: absolute;
  right: 80px;
  top: -10px;
  color: #92dce5;
}
#cart {
  position: absolute;
  left: 15px;
  top: 2px;
  color: red;
  font-size: 1.1rem;
  justify-content: center;
}
.faCart {
  font-size: 2rem;
}
.faBars {
  font-size: 1.7rem;
  margin-left: 10%;
}
.faCart:hover,
.faBars:hover {
  color: #92dce5;
  z-index: 998;
}
.nav-link-list {
  display: none;
  position: absolute;
  top: 4.75%;
  left: 8%;
  right: 80%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #2b303a;
  z-index: 999;
}
.nav-list {
  list-style: none;
  list-style-position: outside;
}

a:visited {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #92dce5;
}
.shop-card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 10%;
  text-align: center;
}
.shop-card {
  background-color: #2b303a;
  padding-bottom: 4%;
}
.shop-card img {
  max-width: 375px;
}
.showButton {
  border: none;
  margin: 0 auto;
  border: solid black 1px;
  background-color: #92dce5;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 20%;
}
.price {
  background-color: #92dce5;
  width: 15%;
  border: solid black 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto;
}
.shopping-cart-icon {
  position: fixed;
  z-index: 999;
  right: 1%;
  color: white;
  top: 3%;
}
.atcButton {
  border: none;
  background-color: #92dce5;
  width: 80%;
}
.home-card-container {
  text-align: center;
  margin: 3%;
}

.test-class {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.checkout-cart {
  background-color: #2b303a;
  display: grid;
  height: 100vh;
  text-align: center;
}

.checkout-item-list {
  background-color: #eee5e9;
  width: 20%;
  padding: 40px;
  margin: auto;
  list-style: none;
  border: solid black 2px;
  border-radius: 12px;
}
.checkout-total {
  background-color: #eee5e9;
  margin: auto;
  padding: 40px;
  width: 20%;
  border: solid black 2px;
  border-radius: 12px;
}
.checkout-header {
  background-color: #2b303a;
  color: white;
  border: solid black 2px;
  border-radius: 12px;
}
.price-value {
  border: solid black 2px;
  border-top: none;
  border-radius: 12px;
  background-color: #92dce5;
}
.name-value {
  border: solid black 2px;
  border-bottom: none;
  border-radius: 12px;
  background-color: #92dce5;
}
.total-price-value {
  background-color: #92dce5;
  border: solid black 2px;
  border-radius: 12px;
}
