html,
body {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #eee5e9;
  scroll-behavior: smooth;
}
.header {
  align-items: center;
  background-color: #2b303a;
  color: white;
  display: flex;
  width: 100%;
}
.header-container {
  display: flex;
}
h1 {
  width: 100%;
  margin: 0 auto;
}
.shopping-cart-icon {
  color: white;
  background-color: #2b303a;
  padding-right: 10%;
}
.body-component {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 8px;
}
.card {
  position: relative;
  z-index: 300;
  width: 90%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
}
img {
  width: 100%;
  max-width: 550px;
  height: 300px;
  box-shadow: 0px 0px 8px 0px;
  border: solid black 1px;
  border-radius: 12px;
  display: block;
  margin: 0 auto;
  align-items: center;
}

li:hover {
  color: #92dce5;
}

.link-list {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.FooterComponent {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #2b303a;
  color: white;
}
li {
  cursor: pointer;
}
.cart-container {
  right: 20px;
  color: #92dce5;
  display: flex;
}
#cart {
  position: absolute;
  color: red;
  right: 10.6%;
  font-size: 1.1rem;
  justify-content: center;
}
.faCart {
  font-size: 2rem;
}
.faBars {
  font-size: 1.7rem;
  margin-left: 10%;
}
.faCart:hover,
.faBars:hover {
  color: #92dce5;
  z-index: 998;
}
.nav-container {
  display: flex;
  justify-content: center;
  width: 10%;
}
.nav-link-list {
  position: absolute;
  justify-content: center;
  left: 0;
  top: 4%;
  width: 10%;
  display: none;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: #2b303a;
  z-index: 999;
  margin: 0 auto;
}
.nav-list {
  list-style: none;
}

a:visited {
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #92dce5;
}
.shop-card-container {
  position: relative;
  margin-bottom: 10%;
  text-align: center;
}
.shop-card {
  background-color: #2b303a;
  padding-bottom: 4%;
}
.shop-card img {
  max-width: 375px;
}
.shopButton {
  width: 10%;
}
.showButton {
  background-color: #92dce5;
  margin: 0 auto;
  border: solid black 1px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  width: 50%;
  overflow: hidden;
}
.price {
  background-color: #92dce5;
  width: 50%;
  border: solid black 1px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  margin: 0 auto;
}
.anotherButtonStyle {
  width: 20%;
}

.atcButton {
  border: none;
  background-color: #92dce5;
  width: 80%;
}
.home-card-container {
  text-align: center;
  margin: 3%;
}

.test-class {
  display: grid;
  gap: 2%;
  grid-template-columns: repeat(3, 1fr);
}
.checkout-cart {
  display: flex;
  text-align: center;
  background-color: orange;
  box-shadow: 0 0 20px 0;
  padding: 4% 0 4% 0;
  width: 80%;
  margin: 0 auto;
  border-radius: 12px;
}
.checkout-container {
  height: 100vh;
  padding-top: 5%;
  background-color: #2b303a;
}
.checkout-item-list {
  background-color: #eee5e9;
  width: 20%;
  padding: 40px;
  margin: auto;
  list-style: none;
  border: solid black 2px;
  box-shadow: 0 0 20px 0;
  border-radius: 12px;
}

.checkout-header {
  background-color: #2b303a;
  color: white;
  border: solid black 2px;
  border-radius: 12px;
}
.price-value {
  border: solid black 2px;
  border-top: none;
  background-color: #92dce5;
}
.name-value {
  border: solid black 2px;
  border-bottom: none;
  background-color: #92dce5;
}
.total-price-value {
  background-color: #92dce5;
  border: solid black 2px;
  border-radius: 12px;
}
.submit-button {
  border: solid black 2px;
  background-color: #92dce5;
  border-radius: 12px;
  padding: 6px;
}
